@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    color: #ffffff;
    font-family: "Roboto";
}


@media screen and (min-width:768px) {
    .page-1 {
        background-image: radial-gradient(ellipse, rgba(11, 11, 11, 0.896), rgba(255, 251, 251, 0), rgba(11, 11, 11, 0.726)), url("https://res.cloudinary.com/dgl0v7vwf/image/upload/v1689388110/neflix_1_dmswww.jpg");
        height: 88vh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 10px;
    }



    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
        width: 100%;
        align-items: center;
        margin-bottom: 65px;
    }

    .main-heading {
        font-size: 60px;
        color: #ff1a1a;
        display: flex;
        font-weight: bold;
    }

    .english-btn {
        padding: 6px;
        border: 1px #ffffff solid;
        background-color: #000000;
        font-weight: bold;
        border-radius: 3px;
        margin-right: 10px;
    }

    .globe-icon {
        font-size: 12px;
    }

    .sort-down-icon {
        font-size: 12px;
        padding: 4px;
        align-self: center;
    }

    .signIn-btn {
        border: none;
        background-color: #ff1a1a;
        font-weight: bold;
        border-radius: 3px;
        height: 38px;
        width: 76px;
    }

    .body-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 105px;
    }

    .body-heading {
        font-size: 63px;
        font-weight: bold;
        margin-bottom: 6px;
    }

    .body-description-1 {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 6px;
    }

    ::placeholder {
        color: #ffffff;
        font-size: 18px;
    }

    .input-element {
        background-color: transparent;
        border: 1px #ffffff solid;
        padding: 10px;
        color: #ffffff;
        width: 320px;
        margin-right: 10px;
        height: 64px;
    }

    .get-started-btn {
        background-color: #ff1a1a;
        font-weight: bold;
        width: 180px;
        height: 64px;
        border: none;
        border-radius: 3px;
        font-size: 24px;
    }

    .page-2 {
        border-color: #181818;
        border-top-width: 8px;
        border-style: solid;
        border-left-width: 0;
        border-right-width: 0;
        height: 78vh;
        background-color: #000000;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: 36px;
        flex-wrap: wrap;
    }



    .page-2-information-container {
        display: flex;
        flex-direction: column;
        margin-right: 55px;
        justify-content: center;
        width: 35%;
    }

    .page-2-heading {
        font-size: 60px;
        margin-bottom: 10px;
    }

    .page-2-description {
        font-size: 35px;
    }

    .page-2-image {
        width: 40%;
        margin-left: 10px;
    }



    .page-container-3 {
        order: 1;
        margin-left: 25px;
    }

    .page-3-image {
        order: 0;
    }

    .questions-container {
        display: flex;
        flex-direction: column;
        padding: 35px;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        border-top-width: 8px;
        border-color: #181818;
        border-style: solid;
    }

    .questions-heading {
        font-size: 60px;
        text-align: center;
        margin-bottom: 30px;
    }

    .questions-card {
        background-color: grey;
        margin-bottom: 15px;
        align-items: center;
        width: 80%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .question {
        font-size: 34px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .line {
        width: 100%;
        color: #181818;
        border-width: 2px;
        border-style: solid;
    }

    .questions-description {
        font-size: 24px;
        text-align: center;
        margin-top: 20px;
    }


    .footer-container {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #000000;
    }

    .footer-description {
        font-size: 16px;
        color: grey;
    }

    .footer-number {
        text-decoration: underline;
        color: grey;
    }

    .lists {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .list-items {
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }

    .list-item {
        font-size: 12px;
        text-decoration: underline;
        margin-bottom: 8px;
        color: grey;
    }

    .description-2 {
        text-align: left;
        color: grey;
        margin-top: 10px;
    }

    .btn {
        width: 120px;
        background-color: transparent;
        color: grey;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .md-view-page-2 {
        display: flex;
        flex-direction: column;
        height: 84vh;
    }

    .page-heading {
        font-size: 50px;
    }

    .md-view-info-container {
        width: 80%;
        order: 1;
        text-align: center;
    }

    .md-view-image {
        width: 70%;
        margin-bottom: 60px;
        align-self: center;
    }
}